<p id="notice"><%= notice %></p>

<h1>Shoots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoots.each do |shoot| %>
      <tr>
        <td><%= shoot.name %></td>
        <td><%= shoot.start_time %></td>
        <td><%= link_to 'Show', shoot %></td>
        <td><%= link_to 'Edit', edit_shoot_path(shoot) %></td>
        <td><%= link_to 'Destroy', shoot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoot', new_shoot_path %>
