<p id="notice"><%= notice %></p>

<h1>Shoots</h1>
<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <% calendar_for @shoot, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calendar.day(:day_method => :start_time) do |date, shoot| %>
      <%= date.day %>
      <ul>
        <% for shoot in shoot %>
          <li><%= link_to h(shoot.name), shoot %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th><p>Name</p></th>
      <th><p>Start time</p></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoots.each do |shoot| %>
      <tr>
        <td><p><%= link_to shoot.name, shoot_path(shoot) %></p></td>
        <td><p><%= shoot.start_time %></p></td>
      </tr>
      <tr>
        <td><p><%= link_to 'Edit', edit_shoot_path(shoot) %></p></td>
        <td><p><%= link_to 'Delete', shoot, method: :delete, data: { confirm: 'Are you sure?' } %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'New Shoot', new_shoot_path %></p>
