<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shoot.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @shoot.start_time %>
</p>

<%= link_to 'View Script', @shoot.pdf.url %>
<br><br>
<hr>
<p><%= link_to 'Edit', edit_shoot_path(@shoot) %></p>
<p><%= link_to 'Back', shoots_path %></p>
